{{ template "HeaderAdmin" }}
<div class="breadcrumbs">
    <a href="/queue"><- Go back to queue</a>
</div>
<div class="section-header">
    <h2 class="mt-4">Admin</h2>
</div>


<div class="sgotipy">
    <h3 class="mt-4">SGOTIPY is {{if eq .SgotipyStatus.Status "NOT_RUNNING" }} NOT {{ end }}RUNNING!</h3>
    {{if eq .SgotipyStatus.Status "RUNNING" }}
    <a class="btn btn-primary" href="/admin/sgotipy/stop" role="button">STOP SERVICE</a>
    {{ else }}
    <a class="btn btn-primary" href="/admin/sgotipy/start" role="button">START SERVICE</a>
    {{ end }}
</div>


</div>
{{ template "Footer" }}