{{ template "HeaderAdmin" }}
<div class="breadcrumbs">
    <a href="/queue"><- Go back to queue</a>
</div>
<div class="section-header">
    <h2 class="mt-4">Admin</h2>
</div>


<div class="sgotipy">
    {{if eq .SgotipyStatus.Status "FAIL" }}
    <h5 class="mt-2 font-weight-bold">STATUS: FAIL! :(</h5>
    Please check sgotipy service
    {{ else }}
    <h5 class="mt-2 font-weight-bold">STATUS: {{if eq .SgotipyStatus.Status "NOT_RUNNING" }}NOT {{ end }}RUNNING!</h5>
    {{ if ne .SgotipyStatus.Device "" }}
    <ul class="list-no-bullets">
        <li>Active device: {{ .SgotipyStatus.Device }}</li>
        <li>Device status: {{ .SgotipyStatus.DeviceStatus }}</li>
        {{ if ne .SgotipyStatus.CurrentSong.Id "" }}
        <li>Current Song: {{ .SgotipyStatus.CurrentSong.Title }} - {{ .SgotipyStatus.CurrentSong.Artists }} </li>
        {{ end }}
    </ul>
    {{ end }}
    {{if eq .SgotipyStatus.Status "RUNNING" }}
    <a class="btn btn-primary" href="/admin/sgotipy/stop" role="button">STOP SERVICE</a>
    {{ else }}
    <a class="btn btn-primary" href="/admin/sgotipy/start" role="button">START SERVICE</a>
    {{ end }}
    {{ end }}
</div>


</div>
{{ template "Footer" }}