{{ template "Header" }}
<div class="">
    <div class="container">
        <h2 class="mt-2">Queue</h2>
        <div class="">Total songs: {{ len .SongsOnQueue }}</div>
        <div class="">1h 45 min</div>
    </div>
    {{ if eq .SgotipyStatus.Status "RUNNING" }}
    <div class="on-spotify container main-container">
        <h3 class="mt-2">Playing</h3>
        {{ if or (not .SgotipyStatus.CurrentSong) (not .SgotipyStatus.CurrentSong.Id)}}
            Currently no playing song :(
        {{ else }}
            <div class="playlist list-group mt-4 mb-4">
            {{ template "Song" .SgotipyStatus.CurrentSong}}
            </div>
        {{ end }}
        <h5 class="mt-2">Next</h5>
        <div class="playlist list-group mt-4 mb-4">
            {{ template "Song" .SgotipyStatus.CurrentSong}}
            {{ template "Song" .SgotipyStatus.CurrentSong}}
            {{ template "Song" .SgotipyStatus.CurrentSong}}
        </div>
    </div>
    {{ end }}

    
    <div class="on-queue container main-container">
        <h3 class="mt-2">Queue</h3>
        {{ if not .SongsOnQueue }}
        <div>No Songs on Queue...</div>
        {{ else }}
            <div class="playlist list-group mt-4 mb-4">
                {{ range .SongsOnQueue }}
                    {{ template "Song" .}}
                {{ end }}
            </div>
        {{ end }}
    </div>
</div>
{{ template "Footer" }}