{{ define "Song" }}
<div class="row song-container">
    <!--<div class="col-1">
        <img src="..." alt="..." class="img-fluid">
    </div>
    <div class="col-11"><!-->
        <small>{{.Author}}</small>
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ .Title }}</h5>
        </div>
        {{ if not .InQueue }}
            <small><a data-title = "{{ .Title }}" data-author = "{{ .Author }}" data-id="{{ .Id}}" class="add-to-queue" href="javascript:void(0)"> -> Add to Queue</a></small>
        {{ end }}
</div>

{{ end }}